/*Custom CSS*/
html {
	height: 100%;
	margin: 0;
}
body {
	background: #E2E4E7;
	padding: 0;
	text-align: center;
	position: relative;
	margin: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}
.content{
	padding-top: 100px;
	padding-right: 50px;
	padding-left: 50px;
}

.wrapper {
	height: 100%;
	min-height: 100%;
	margin: 0 auto; 
	overflow: hidden;
}

.main{
	padding-top: 50px;
	float: left;
	width: 100%;
	margin: 0 auto;
}

.main section .page_container {
	position: relative;
	top: 25%;
	margin: 0 auto 0;
	max-width: 950px;
	z-index: 3;
}

.main section  {
	overflow: hidden;
}

.main section > img {
	position: absolute;
	max-width: 100%;
	z-index: 1;
}

.main section.page1 {
	/*background:rgb(230, 217, 200);*/
}

.main section.page2 {
	/*background: rgb(100,250, 0);*/
}

.main section.page3 {
	/*background: rgb(250,0, 0);*/
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
/*	width: auto;
	height: auto;
	max-width: ;
	max-height: ;*/
}

#scrollUp {
	bottom: 20px;
	right: 20px;
	height: 38px;  
	width: 38px; 
	background: url(../img/top.png) no-repeat;
}